{{- if eq (env "SHELL") "/bin/bash" -}}
# ~/.bashrc: executed by bash(1) for non-login shells.
# see /usr/share/doc/bash/examples/startup-files (in the package bash-doc)
# for examples

# If not running interactively, don't do anything
case $- in
    *i*) ;;
      *) return;;
esac

# don't put duplicate lines or lines starting with space in the history.
# See bash(1) for more options
HISTCONTROL=ignoreboth

# append to the history file, don't overwrite it
shopt -s histappend

# for setting history length see HISTSIZE and HISTFILESIZE in bash(1)
HISTSIZE=1000
HISTFILESIZE=2000

# check the window size after each command and, if necessary,
# update the values of LINES and COLUMNS.
shopt -s checkwinsize

# If set, the pattern "**" used in a pathname expansion context will
# match all files and zero or more directories and subdirectories.
#shopt -s globstar

# make less more friendly for non-text input files, see lesspipe(1)
[ -x /usr/bin/lesspipe ] && eval "$(SHELL=/bin/sh lesspipe)"

# set variable identifying the chroot you work in (used in the prompt below)
if [ -z "${debian_chroot:-}" ] && [ -r /etc/debian_chroot ]; then
    debian_chroot=$(cat /etc/debian_chroot)
fi

# set a fancy prompt (non-color, unless we know we "want" color)
case "$TERM" in
    xterm-color|*-256color) color_prompt=yes;;
esac

# uncomment for a colored prompt, if the terminal has the capability; turned
# off by default to not distract the user: the focus in a terminal window
# should be on the output of commands, not on the prompt
#force_color_prompt=yes

if [ -n "$force_color_prompt" ]; then
    if [ -x /usr/bin/tput ] && tput setaf 1 >&/dev/null; then
    # We have color support; assume it's compliant with Ecma-48
    # (ISO/IEC-6429). (Lack of such support is extremely rare, and such
    # a case would tend to support setf rather than setaf.)
    color_prompt=yes
    else
    color_prompt=
    fi
fi

if [ "$color_prompt" = yes ]; then
    PS1='${debian_chroot:+($debian_chroot)}\[\033[01;32m\]\u@\h\[\033[00m\]:\[\033[01;34m\]\w\[\033[00m\]\$ '
else
    PS1='${debian_chroot:+($debian_chroot)}\u@\h:\w\$ '
fi
unset color_prompt force_color_prompt

# If this is an xterm set the title to user@host:dir
case "$TERM" in
xterm*|rxvt*)
    PS1="\[\e]0;${debian_chroot:+($debian_chroot)}\u@\h: \w\a\]$PS1"
    ;;
*)
    ;;
esac

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    #alias dir='dir --color=auto'
    #alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# colored GCC warnings and errors
#export GCC_COLORS='error=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01'

# some more ls aliases
# alias ll='ls -alF'
# alias la='ls -A'
alias l='ls -CF'

# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

# Alias definitions.
# You may want to put all your additions into a separate file like
# ~/.bash_aliases, instead of adding them here directly.
# See /usr/share/doc/bash-doc/examples in the bash-doc package.

if [ -f ~/.bash_aliases ]; then
    . ~/.bash_aliases
fi

# enable programmable completion features (you don't need to enable
# this, if it's already enabled in /etc/bash.bashrc and /etc/profile
# sources /etc/bash.bashrc).
if ! shopt -oq posix; then
  if [ -f /usr/share/bash-completion/bash_completion ]; then
    . /usr/share/bash-completion/bash_completion
  elif [ -f /etc/bash_completion ]; then
    . /etc/bash_completion
  fi
fi

# Universal custom aliases
alias cd=" cd"
alias ls="ls --color=always"
alias ll=" LC_COLLATE=C ls -lah --color=always"
alias lt=" LC_COLLATE=C ls -lahtr --color=always"
alias less="less -R"
alias more="less -R -X"
alias cz="chezmoi"
alias czp="chezmoi --config $HOME/.config/chezmoi-private/chezmoi.toml --source $HOME/development/private-dotfiles"

{{- if eq .chezmoi.os "linux" }}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}

# Set language variables
export LANG=en_GB.UTF-8
export LC_MESSAGES=en_GB.UTF-8
export LC_TIME=en_SG.UTF-8
export LC_NUMERIC=en_SG.UTF-8
export LC_MONETARY=en_SG.UTF-8
export LANGUAGE=en_GB:en_US

# Update path for local binaries
export PATH=~/.local/bin:~/.emacs.d/bin/:$PATH

# Set Browser variable (enables xdg-open with Emacs)
export BROWSER=wslview

# Set $EDITOR to nano if available else fallback to vi
# else in a WSLg environment set $EDITOR & $VISUAL to VSCode
# and SUDO_EDITOR to visudo
EDITOR="$(command -v nano 2>/dev/null || command -v vi)"

if command -v code >/dev/null 2>&1 \
&& [ "$SSH_TTY$DISPLAY" = "${DISPLAY#*:[1-9][0-9]}" ]; then
  export VISUAL="$(command -v code) --wait"
  EDITOR="$VISUAL"
  SUDO_EDITOR="$(command -v visudo)"
else
  SUDO_EDITOR="$(command -v visudo)"
fi

# Pageant/WSL2 inter-op

export SSH_AUTH_SOCK=/tmp/wsl2-ssh-agent.sock

EXISTING_SSH_PID=$(ps -xww | grep -q "[n]piperelay.exe -ei -s //./pipe/ssh-pageant" | awk '{ print $1 }')

if [[ -z "${EXISTING_SSH_PID}" ]]; then
 socat \
   EXEC:"/mnt/c/Users/Balaji/Applications/npiperelay.exe -ei -s /\/\./\pipe/\ssh-pageant" \
   UNIX-LISTEN:/tmp/wsl2-ssh-agent.sock,unlink-close,unlink-early,fork >/dev/null 2>&1 &
else
        echo "removing previous socket..."
        rm $SSH_AUTH_SOCK
fi

# Wrap the previous commands in a function so that we can reconnect to Pageant
# in case of socat crash.

sset () {
  export SSH_AUTH_SOCK=/tmp/wsl2-ssh-agent.sock

  EXISTING_SSH_PID=$(ps -xww | grep -q "[n]piperelay.exe -ei -s //./pipe/ssh-pageant" | awk '{ print $1 }')

  if [[ -z "${EXISTING_SSH_PID}" ]]; then
   socat \
     EXEC:"/mnt/c/Users/Balaji/Applications/npiperelay.exe -ei -s /\/\./\pipe/\ssh-pageant" \
     UNIX-LISTEN:/tmp/wsl2-ssh-agent.sock,unlink-close,unlink-early,fork >/dev/null 2>&1 &
  else
          echo "removing previous socket..."
          rm $SSH_AUTH_SOCK
  fi
}

# Custom aliases
alias sunset=' unset SSH_AUTH_SOCK'
alias tf="terraform"
alias otf="tofu"

# Prompt for 1Password sign-in
alias ops=' eval $(op signin)'


#Add variables used by homelab-IaC repo
export CERTPATH="{{ .CERTPATH }}"
export LOCALCERTPATH=$HOME/development/keys
alias cdcert=' cd "$CERTPATH"'

{{   end -}}
{{ end -}}

# This is added at the end of the file to avoid potential conflicts
eval "$(direnv hook bash)"

{{- end -}}